.Layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10%;
}

.Padded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
}

.Padded > * {
  margin: 2% 0;
}

@media only screen and (max-width: 600px) {
  .Padded > * {
    margin: 3% 0;
    padding: 2%;
  }
}

@media only screen and (max-width: 400px) {
  .Layout {
    padding: 0%;
  }
}
