.Container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Layout {
  height: 100vh;
  min-width: 220px;
  flex: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: 9;
  align-items: center;
}

.Background {
  background: url(../../Assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100vw;
  filter: blur(6px);
  height: 100vh;
}
